<h1 mat-dialog-title>Se connecter</h1>
<div mat-dialog-content>
    <label>E-Mail : </label><input type="email" [(ngModel)]="email"><br>
    <label>Username : </label><input type="text" [(ngModel)]="username"><br>
    <label>Password : </label><input type="password" [(ngModel)]="password"><br>
    <label>Nom complet : </label><input type="text" [(ngModel)]="fullname"><br>
    <label>Adresse + Ville : </label><input type="text" [(ngModel)]="address"><br>
</div>
<div mat-dialog-actions>
    <button class="btn" (click)="onNoClick()">Annuler</button>
    <button class="btn" (click)="register()" cdkFocusInitial>S'inscrire</button>
</div>